<div style="overflow-y: auto;">
    <div class="fadeIn first">
        <span class="login-header"><h1>Añadir Venta</h1></span>
      </div>
    
      <!-- Login Form -->
      <form #userForm="ngForm" (ngSubmit)="userForm.form.valid && onSubmit(userForm)">
        <div class="form-group">
            <strong>Region</strong>
            <input type="text" class=" form-control" name="region" [(ngModel)]="order.region" #region="ngModel" placeholder="Region"
              [ngClass]="{ 'is-invalid': userForm.submitted && region.invalid }" required>
            <div *ngIf="userForm.submitted && region.invalid" class="invalid-feedback">
              <div *ngIf="region.errors.required">Region obligatoria</div>
            </div>
          </div>
    
        <div class="form-group">
            <strong>Country</strong>
          <input type="text" class=" form-control" name="country" [(ngModel)]="order.country" #country="ngModel" placeholder="Country"
            [ngClass]="{ 'is-invalid': userForm.submitted && country.invalid }" country required>
          <div *ngIf="userForm.submitted && country.invalid" class="invalid-feedback">
            <div *ngIf="country.errors.required">Country obligatorio</div>
          </div>
        </div>
    
        <div class="form-group">
            <strong>Item Type</strong>
          <input type="text" class=" form-control" name="itemType" [(ngModel)]="order.itemType" #itemType="ngModel" placeholder="Item Type"
            [ngClass]="{ 'is-invalid': userForm.submitted && itemType.invalid }" itemType required>
          <div *ngIf="userForm.submitted && itemType.invalid" class="invalid-feedback">
            <div *ngIf="itemType.errors.required">itemType obligatorio</div>
          </div>
        </div>
    
        <div class="form-group">
            <strong>Sales Channel</strong>
          <select class=" form-control" name="salesChannel" [(ngModel)]="order.salesChannel" #salesChannel="ngModel" placeholder="Sales Channel"
            [ngClass]="{ 'is-invalid': userForm.submitted && salesChannel.invalid }" salesChannel required>
                <option value="disconnected">Offline</option>
                <option value="Online">Online</option>
            </select>

            
          <div *ngIf="userForm.submitted && salesChannel.invalid" class="invalid-feedback">
            <div *ngIf="salesChannel.errors.required">salesChannel obligatorio</div>
          </div>
        </div>
    
        <div class="form-group">
            <strong>Order Priority</strong>
            <select  class=" form-control" name="orderPriority" [(ngModel)]="order.orderPriority" #orderPriority="ngModel" placeholder="Order Priority"
            [ngClass]="{ 'is-invalid': userForm.submitted && orderPriority.invalid }" orderPriority required>
                <option value="H">Alta</option>
                <option value="M">Media</option>
                <option value="L">Baja</option>
            </select>

          <div *ngIf="userForm.submitted && orderPriority.invalid" class="invalid-feedback">
            <div *ngIf="orderPriority.errors.required">orderPriority obligatorio</div>
          </div>
        </div>
    
        <div class="form-group">
            <strong>Order Date</strong>
          <input type="date" class=" form-control" name="orderDate" [(ngModel)]="order.orderDate" #orderDate="ngModel" placeholder="Order Date"
            [ngClass]="{ 'is-invalid': userForm.submitted && orderDate.invalid }" orderDate required>
          <div *ngIf="userForm.submitted && orderDate.invalid" class="invalid-feedback">
            <div *ngIf="orderDate.errors.required">orderDate obligatorio</div>
          </div>
        </div>
    
        <div class="form-group">
            <strong>Order Id</strong>
          <input type="text" class=" form-control" name="orderId" [(ngModel)]="order.orderId" #orderId="ngModel" placeholder="Order Id"
            [ngClass]="{ 'is-invalid': userForm.submitted && orderId.invalid }" orderId required>
          <div *ngIf="userForm.submitted && orderId.invalid" class="invalid-feedback">
            <div *ngIf="orderId.errors.required">orderId obligatorio</div>
          </div>
        </div>
    
        <div class="form-group">
            <strong>Ship Date</strong>
          <input type="date" class=" form-control" name="shipDate" [(ngModel)]="order.shipDate" #shipDate="ngModel" placeholder="Ship Date"
            [ngClass]="{ 'is-invalid': userForm.submitted && shipDate.invalid }" shipDate required>
          <div *ngIf="userForm.submitted && shipDate.invalid" class="invalid-feedback">
            <div *ngIf="shipDate.errors.required">shipDate obligatorio</div>
          </div>
        </div>
    
        <div class="form-group">
            <strong>Units Sold</strong>
          <input type="number" class=" form-control" name="unitsSold" [(ngModel)]="order.unitsSold" #unitsSold="ngModel" placeholder="Units Sold"
            [ngClass]="{ 'is-invalid': userForm.submitted && unitsSold.invalid }" unitsSold required>
          <div *ngIf="userForm.submitted && unitsSold.invalid" class="invalid-feedback">
            <div *ngIf="unitsSold.errors.required">unitsSold obligatorio</div>
          </div>
        </div>
    
        <div class="form-group">
            <strong>Unit Price</strong>
          <input type="number" class=" form-control" name="unitPrice" [(ngModel)]="order.unitPrice" #unitPrice="ngModel" placeholder="Unit Price"
            [ngClass]="{ 'is-invalid': userForm.submitted && unitPrice.invalid }" unitPrice required>
          <div *ngIf="userForm.submitted && unitPrice.invalid" class="invalid-feedback">
            <div *ngIf="unitPrice.errors.required">unitPrice obligatorio</div>
          </div>
        </div>
    
        <div class="form-group">
            <strong>Unit Cost</strong>
          <input type="number" class=" form-control" name="unitCost" [(ngModel)]="order.unitCost" #unitCost="ngModel" placeholder="Unit Cost"
            [ngClass]="{ 'is-invalid': userForm.submitted && unitCost.invalid }" unitCost required>
          <div *ngIf="userForm.submitted && unitCost.invalid" class="invalid-feedback">
            <div *ngIf="unitCost.errors.required">unitCost obligatorio</div>
          </div>
        </div>
    
        <div class="form-group">
            <strong>Total Revenue</strong>
          <input type="number" class=" form-control" name="totalRevenue" [(ngModel)]="order.totalRevenue" #totalRevenue="ngModel" placeholder="Total Revenue"
            [ngClass]="{ 'is-invalid': userForm.submitted && totalRevenue.invalid }" totalRevenue required>
          <div *ngIf="userForm.submitted && totalRevenue.invalid" class="invalid-feedback">
            <div *ngIf="totalRevenue.errors.required">totalRevenue obligatorio</div>
          </div>
        </div>
    
        <div class="form-group">
            <strong>Total Cost</strong>
          <input type="number" class=" form-control" name="totalCost" [(ngModel)]="order.totalCost" #totalCost="ngModel" placeholder="Total Cost"
            [ngClass]="{ 'is-invalid': userForm.submitted && totalCost.invalid }" totalCost required>
          <div *ngIf="userForm.submitted && totalCost.invalid" class="invalid-feedback">
            <div *ngIf="totalCost.errors.required">totalCost obligatorio</div>
          </div>
        </div>
    
        <div class="form-group">
            <strong>Total Profit</strong>
          <input type="number" class=" form-control" name="totalProfit" [(ngModel)]="order.totalProfit" #totalProfit="ngModel" placeholder="Total Profit"
            [ngClass]="{ 'is-invalid': userForm.submitted && totalProfit.invalid }" totalProfit required>
          <div *ngIf="userForm.submitted && totalProfit.invalid" class="invalid-feedback">
            <div *ngIf="totalProfit.errors.required">totalProfit obligatorio</div>
          </div>
        </div>

        <button type="submit" class="btn btn-success">Guardar</button>
        <button type="reset" class="space btn btn-info">Reset</button>
        <button type="button" class="space btn btn-danger" (click)="closeModal()">Cancelar</button>
      </form>
</div>
