<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <span class="login-header">LOGIN</span>
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="name" name="name" class="fadeIn second" placeholder="Usuario"
        required>
        <input type="text" id="password" class="fadeIn third" name="password" placeholder="Contraseña">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        No tienes cuenta? <a class="underlineHover" [routerLink]="['/register']">Registrate</a>
      </div>
  
    </div>
  </div>